
html {
    font-size: 16px; 
 }
 body {
    color: #333;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    background-color: #ecf5f9;
    
 }    
 img {
     max-width: 100%;
     box-shadow: 2px 2px 2px #6f6e6e;
 }
 li {
     list-style: none;
     list-style-type:none;
 }
 a {
     color: #333;
     text-decoration: none;
 }
 
 

 /*ヘッダー になぜz-indexがいるの？？*/