@use "global"as g;
@use "mixin" as m;

//sp-btn//
.navbtn {
    // position: fixed;
    position: absolute;
    z-index: 9999;
    cursor: pointer;
    top: 15%;
    right: 5%;
    @include m.mq(tb) {
        display: none;
    }
}
//Menuの文字
.navbtn > span {
    font-size: 13px;
    font-weight: 600;
    color: g.$text-base;
    text-overflow: 1px 1px 1px g.$text-base;
    position: relative;
}
.navbtn img {
    box-shadow: none;
    width: 30px;
    height: 30px;
}
//メニューが開いている時は✖表示
.navbtn.active::before, .navbtn.active::after { /* 共通設定 */
    content: "";
    position: absolute;
    margin-left: 5px;
    display: block;
    width: 3px; /* 棒の幅（太さ） */
    height: 30px; /* 棒の高さ */
    background: #fff;
    top: 50%;
    right: 0;
    z-index: 999;
   
  }
.navbtn.active::before  {
    transform: translate(-50%,-50%) rotate(45deg);
  }
.navbtn.active::after {
    transform: translate(-50%,-50%) rotate(-45deg);
  }


.navbtn.active img, .navbtn.active span {
    opacity: 0;
}


//Read More//
button {
    appearance: none;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
  }

.linkbtn {
    position: relative;
    left: 0;
    bottom: 0;
    display: block;
    padding: 10px 25px 10px 10px;
    margin: 0 auto;
    width: 145px;
    font-size: 12px;
    color: g.$text-light;
    text-align: center;
    line-height: 1;
    background: g.$bg-btn;
    background: linear-gradient(to right, #5bbee5, #52ddae);
    text-indent: 0.1em;
    letter-spacing: 0.1em;
    border-radius: 1.5em;
    box-sizing:border-box;
    cursor:pointer;
    @include m.mq(tb) {
        margin-top: auto;  //ボタンを下部に固定
    }
    @include m.mq(pc) {
        width: 175px;
        font-size: 14px;
        padding: 12px 27px 12px 12px;
        
    }
}

.linkbtn:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1.5em;
  margin: auto;
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border-right: 1px solid g.$text-light;
  border-top: 1px solid g.$text-light;
  transform: rotate(45deg);
  transition: right 0.5s;
}

.linkbtn:hover:after{
  right: 1em;
}



//SNS ICON//

.iconbtn {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 30px;
    text-align: center;
    transition: all 0.3s;
    @include m.mq(tb) {
        height: 60px;
        width: 60px;
        line-height: 60px;
    }
    & i {
        font-size: 17px;
        line-height: 30px;
        @include m.mq(tb) {
            line-height: 60px;
    }
}
}
.iconinner .iconbtn span {
    font-weight: 500;
    line-height: 30px;
    margin-left: 10px;
    transition: all 0.3s;
    @include m.mq(tb) {
        font-size: 24px;
        line-height: 60px;

}
}

.iconwrapper .iconinner:hover {
    width: 150px;
    @include m.mq(tb) {
        width: 200px;
}
}

.iconwrapper .iconinner:hover .iconbtn > i {
    color: g.$text-light;
}


.iconwrapper .iconinner:nth-child(1):hover .iconbtn {
    background-color: g.$icon-facebook;

}
.iconwrapper .iconinner:nth-child(2):hover .iconbtn {
    background-color: g.$icon-twitter;

}
.iconwrapper .iconinner:nth-child(3):hover .iconbtn {
    background-color: g.$icon-instagram;

}

.iconwrapper .iconinner:nth-child(1):hover span {
    padding-left: 15px;
    color: g.$icon-facebook;

}
.iconwrapper .iconinner:nth-child(2):hover span {
    padding-left: 15px;
    color: g.$icon-twitter;

}
.iconwrapper .iconinner:nth-child(3):hover span {
    padding-left: 15px;
    color: g.$icon-instagram;
}
