@use "global" as g;
@use "mixin" as m;


.flex__wrapper {
    text-align: center;
    @include m.mq(tb) {
        display: flex;

    }  
}      
.footer {
    padding: 40px 40px 0px 40px;
    background-color: g.$bg-footer;
    @include m.mq(tb) {
        padding: 40px 80px 0px 80px;
    }
    @include m.mq(pc) {
    padding: 40px 120px 0px 120px;
    }
    &__nav {
        padding-left: 20px;
        margin-bottom: 10px;
    }
    &__inner {
        text-align: left;
        @include m.mq(tb) {
            display: flex;
            justify-content: space-between;
            width: 33%;
        }
        &__text {
            padding: 0 5px 5px 0px;
            font-size: 16px;
        }
        &__list .arrow {
               position:relative;
               display: inline-block;
               padding: 10px 20px;
               color: g.$text-base;

               &::before {
               content: '';
               width: 0;
               height: 0;
               border-style: solid;
               border-width: 6px 0 6px 8px;
               border-color: transparent #333;
               position: absolute;
               top: 50%;
               left: 0;
               margin-top: -6px;
           }
        }
    }
}



.footer__nav__item {
    display: inline;
    border-bottom: solid 1px #000;
   
    & a {
        padding: 5px 20px;
        display: block;
    }
}

.footer__inner__list li:hover a {
    display: block;
    color: g.$text-hover;
}

.footer__nav__item:hover {
   color: g.$text-hover;
}

.iconwrapper {
        padding: 15px;
        display: flex;
        justify-content: space-around;
        @include m.mq(tb) {
            padding: 0;
            flex-direction: column;
            margin: 0;
        }
    }
.iconwrapper .iconinner {
    height: 30px;
    width: 30px;
    margin-bottom: 20px;
    background: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease-out; 
    overflow: hidden;
    @include m.mq(tb) {
        height: 60px;
        width: 60px;
}

}

.copy-right {
    font-size: 0.8em;
    padding: 20px;
    text-align: center;
    background-color: g.$bg-footer;
}