
@use "base" as b;


//color//
$bg-sticky: #19bccbd7;
$bg-footer: #f4f4fa;;
$bg-nav: #003f5c;;
//text//
$text-base: #333;
$text-point: #003f5c;
$text-light: #ffffff;
$text-hover: #5bbee5;
$space-hover:  #e5e5f0be;
//btn//
$bg-btn: #5bbee5;
$icon-twitter:#1da1f2;
$icon-facebook: #4267b2;
$icon-instagram: #e1306c;


