@use "global" as g;
@use "mixin" as m;

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    
    @include m.mq(tb) {
        flex-direction: column;
    }

    &__link {
        display: inline-block;
        height: 100%;  //親要素いっぱいに広げる
        padding: 20px;
    }
    &__title {
        text-align: center;
         
    }
}  

//ヘッダーをスクロール後に固定==================================
@include m.mq(tb) {
.header.sticky {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: g.$bg-nav;
    display: flex;
    align-items: center;
    transition: all 0.6s ease-out;
}
.header.sticky .globalnav {
    height: 100%;
}

.header.sticky .header__title {
    width: 250px;   
}

.header.sticky .header__link {
    display: block;
    color: g.$text-light;
    margin: 0;
}
.header.sticky .globalnav__wrapper {
    padding: 0;
    background-color: g.$bg-sticky;
}
}

.globalnav {
    width: 50%;
    background-color: #003f5c;;
    position: fixed;
    top: 0;  
    right: -300px;
    z-index: 999;
    transition: right 0.6s ease;
   
    @include m.mq(tb) {
        position: static;
        width: 100%;
        top: 0;
        right: 0;
        transition: none;
        }
    &__wrapper {
        display: flex;
        flex-direction: column;
        padding-top: 70px;
        z-index: 9;
        @include m.mq(tb) {
            padding: 0 80px;
            flex-direction: row;
            justify-content: space-evenly;
        }
        @include m.mq(pc) {
            padding: 0 120px;
        }
    }    
    &__list {
        text-align: center;
        padding: 15px 0 15px 15px;
        @include m.mq(tb) {
            font-size: 17px;
            padding: 15px;
        }
        @include m.mq(pc) {
        padding: 15px 20px;
        font-size: 19px;
        }
         & > a {
         color: g.$text-light; 
         font-weight: 500;
         display: block;
         height: 100%;
         letter-spacing: 0.03em;
        }
    }
}




.globalnav__list:hover {
    background-color: g.$space-hover;

}

.globalnav__list:hover a {
    color:  g.$bg-nav;

}



    
// @keyframes fadeDownAnime{
//       from {
//         opacity: 0;
//         transform: translateY(-100px);
//       }
    
//       to {
//         opacity: 1;
//         transform: translateY(0);
//       }
//     }